<section class="bg-gray-100 min-h-screen p-8 pt-24">

  <h1 class="text-4xl font-bold mb-8">
    Find Your Place
  </h1>

  <div class="grid md:grid-cols-2 gap-5 mb-8">
    
    <input
      [(ngModel)]="searchTerm"
      (input)="filterResources()"
      placeholder="Search..."
      class="p-3 rounded-lg border">

    <select
      [(ngModel)]="selectedType"
      (change)="filterResources()"
      class="p-3 rounded-lg border">
      
      <option value="">All Types</option>
      <option value="Hospital">Hospital</option>
      <option value="Clinic">Clinic</option>
      <option value="ICU">ICU</option>
      <option value="Workspace">Workspace</option>
      <option value="Building">Building</option>
    </select>

  </div>

  <div class="grid md:grid-cols-1 md:grid-cols-3 gap-6">
    
    @for (resource of filteredResources; track resource._id) {
      <app-resource-card
        [resource]="resource"
        (book)="bookResource($event)">
      </app-resource-card>
    } @empty {
      <div class="col-span-3 text-center py-10">
        <p class="text-gray-500 text-lg font-medium">No resources found matching your search.</p>
      </div>
    }

  </div>

</section>

@if (showToast) {
  <div class="fixed bottom-5 right-5 bg-green-600 text-white px-6 py-3 rounded-lg shadow-xl z-50">
    {{ toastMessage }}
  </div>
}